body {
    background-color: rgb(248, 247, 247);
    font-family: 'Langar', cursive;

}
body > main {
    display: inline-block;
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
    /* background-color: yellowgreen; */
}
    /* body > main > header { */
    header {    
        /* background-color: yellow; */
        display: inline-block;
        width: 100%;
    }
        header > img {
            display: inline-block;
            float: left;
        }
        nav {
            display: inline-block;
            float: right;
        }
            a {
                display: inline-block;
            }

    section {
        /* background-color: violet; */
        display: inline-block;
        width: 100%;
        margin-top: 80pix;
    }
        div {
            display: inline-block;
            float: left;
            width: 40%;
            margin-left: 5%;
            /* background-color: royalblue; */
        }
            h1 {
                display: inline-block;
                width: 100%;
                margin: 0;
                font-size: 80px;
            }
            p {
                display: inline-block;
                width: 100%;
                margin: 0;
                font-size: 20px;
                text-decoration-color: red;
            }
        section > img {
            display: inline-block;
            float: right;
            width: 40%;
            margin-right: 5%;
            /* background-color: red; */
        }



/* h1 {
    background-color: beige;
    margin: 0;
}

p {
    background-color: cadetblue;
    margin: 0;
} */